@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


body{
	white-space: pre-wrap;
	word-wrap: break-word;
	background-color: whitesmoke;
	padding: 3rem 1.5rem 3rem 3rem;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 15vw;
	background-color: #12171e;
	padding: 0.4rem 0.8rem;
	transition: all 0.5 ease;
}

.content{
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}

.s0 { /*Overall submission: status */

}



.s1 { /*Problem*/
	margin-left: 20%;
	margin-right: 2.5%;
	margin-top: 2vh;

	padding: 1rem;
    border-radius: 10px;
 	background-color: white;
 	color: black;
}


.s2 { /*HTDF, HTDD*/
	color: red;
	font-weight: bold;
}

.s3 {/*Signature, Template Origin, Tests*/

}




